<a href="https://colab.research.google.com/github/vanand102/Final_Stroke-Data-Analysis/blob/main/Capstone2_Pre_Processing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Data Pre-Processing**

In [1]:
#Mount Google Drive
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

Importing libraries

In [2]:
#Import folder
import sys
sys.path.append('/content/drive/MyDrive/Springboard/Capstone 2')

In [3]:
#Import pandas, matplotlib.pyplot, and seaborn in the correct lines below
import pandas as pd
import matplotlib.pyplot as plt
from scipy.stats import chi2_contingency
import seaborn as sns
from scipy.stats import stats
import os
import numpy as np

# modeling
#
from sklearn.preprocessing import OneHotEncoder as OHE
from sklearn.preprocessing import StandardScaler
import sklearn.model_selection
from sklearn.model_selection import train_test_split
from sklearn.model_selection import KFold
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, f1_score
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix
from sklearn.metrics import ConfusionMatrixDisplay
#

from library.sb_utils import save_file

In [4]:
# the supplied CSV data file is the raw_data directory
stroke_data = pd.read_csv('/content/drive/MyDrive/Springboard/Capstone 2/stroke_data_3.csv')

In [5]:
stroke_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5110 entries, 0 to 5109
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 5110 non-null   int64
 1   gender             5110 non-null   object
 2   age                5110 non-null   float64
 3   hypertension       5110 non-null   int64
 4   heart_disease      5110 non-null   int64
 5   ever_married       5110 non-null   object
 6   work_type          5110 non-null   object
 7   Residence_type     5110 non-null   object
 8   avg_glucose_level  5110 non-null   float64
 9   bmi                5110 non-null   float64
 10  smoking_status     5110 non-null   object
 11  stroke             5110 non-null   int64
dtypes: float64(3), int64(4), object(5)
memory usage: 479.2+ KB

Use the getdummies function on the categorical features in the data in order to create dummy variables.

In [6]:
categorical_features = ['gender',
                        'hypertension',
                        'heart_disease',
                        'ever_married',
                        'work_type',
                        'Residence_type',
                        'smoking_status']
stroke_data = pd.get_dummies(stroke_data, columns = categorical_features)
print('The data have ', stroke_data.shape[0], ' rows and ', stroke_data.shape[1], ' columns\n')
print('column names: \n')
print('\n'.join(list(stroke_data.columns)))

The data have  5110  rows and  25  columns

column names:

id
age
avg_glucose_level
bmi
stroke
gender_Female
gender_Male
gender_Other
hypertension_0
hypertension_1
heart_disease_0
heart_disease_1
ever_married_No
ever_married_Yes
work_type_Govt_job
work_type_Never_worked
work_type_Private
work_type_Self-employed
work_type_children
Residence_type_Rural
Residence_type_Urban
smoking_status_Unknown
smoking_status_formerly smoked
smoking_status_never smoked
smoking_status_smokes

Use the standard scalar function on the numerical features in the data in order to scale the data.

In [7]:
numerical_features = ['age',
                      'avg_glucose_level',
                      'bmi']
# Making a Scaler object
scaler = sklearn.preprocessing.StandardScaler()
# Fitting data to the scaler object
scaled_df = scaler.fit_transform(stroke_data[numerical_features])
scaled_df = pd.DataFrame(scaled_df, columns=numerical_features)

In [8]:
scaled_data = stroke_data
scaled_data['age'] = scaled_df['age']
scaled_data['avg_glucose_level'] = scaled_df['avg_glucose_level']
scaled_data['bmi'] = scaled_df['bmi']

In [9]:
scaled_data.head()

,id,age,avg_glucose_level,bmi,stroke,gender_Female,gender_Male,gender_Other,hypertension_0,hypertension_1,...,work_type_Never_worked,work_type_Private,work_type_Self-employed,work_type_children,Residence_type_Rural,Residence_type_Urban,smoking_status_Unknown,smoking_status_formerly smoked,smoking_status_never smoked,smoking_status_smokes
0,9046,1.051434,2.706375,1.001234,1,0,1,0,1,0,...,0,1,0,0,0,1,0,1,0,0
1,51676,0.786070,2.121559,0.000000,1,1,0,0,1,0,...,0,0,1,0,1,0,0,0,1,0
2,31112,1.626390,-0.005028,0.468577,1,0,1,0,1,0,...,0,1,0,0,1,0,0,0,1,0
3,60182,0.255342,1.437358,0.715418,1,1,0,0,1,0,...,0,1,0,0,0,1,0,0,0,1
4,1665,1.582163,1.501184,-0.635711,1,1,0,0,0,1,...,0,0,1,0,1,0,0,0,1,0

Create the X and y variables and then split them into test and train data sets. I dropped the id column from the X data as the id column is not an important feature.

In [10]:
X = scaled_data.drop(columns = ['stroke', 'id'])
y = scaled_data['stroke']

In [11]:
Xlr, Xtestlr, ylr, ytestlr = train_test_split(X, y, train_size = 0.80, random_state = 2)
print('Training split has ', Xlr.shape[0], ' rows\n',
      'and the corresponding labels have an equal number of values.',
      '(' + str(len(ylr))+ ')')
print('Test split has ', Xtestlr.shape[0], ' rows\n',
      'and the corresponding labels have an equal number of values.',
      '(' + str(len(ytestlr)) + ')')

Training split has  4088  rows
 and the corresponding labels have an equal number of values. (4088)
Test split has  1022  rows
 and the corresponding labels have an equal number of values. (1022)

Save the scaled data to use in the Modeling step.

In [12]:
datapath = '/content/drive/MyDrive/Springboard/Capstone 2'
save_file(scaled_data, 'stroke_data_4.csv', datapath)

A file already exists with this name.

Do you want to overwrite? (Y/N)N

Please re-run this cell with a new filename.